@import "../../variables.scss";
.users-container {
  ul.list-group {
    li.list-group-item {
      list-style-type: none;
      margin-bottom: .5rem;
      a.h4 {
        font-weight: 700;
        color: $blue;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
